@model AzureBeyondBasics.Controllers.CustomerEntity

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <div>
        Created new customer @Model.RowKey
    </div>
</body>
</html>